@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Virtual Closet</h1>
    <p class="lead">An application that lets you virtually manage the contents of your closet and match outfits.</p>
    <p>@Html.ActionLink("Create Outfit", "Index", "Products")</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>@Html.ActionLink("Tops", "Index", "Tops")</h2>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Bottoms", "Index", "Bottoms")</h2>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Shoes", "Index", "Shoes")</h2>
    </div>
    <div class="col-md-3">
        <h2>@Html.ActionLink("Accessories", "Index", "Accessories")</h2>
    </div>
</div>

